@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body{
    font-family: var(--ff-A);
    color: var(--color-B);
    font-weight: var(--fw-body);
    font-size: var(--fz-body);

    //background-color: #cbd5e0;
}

//*{
//    transition: 0.5s;
//}

a{
    color: var(--color-A);
}

#index{
    text-decoration: underline;
    color: var(--color-D);
}

.nav{
    position: fixed;
    right: 0;
    top: var(--top-nav);
    z-index: var(--z-index-H);


    transform-origin: right top;
    transform: rotate(-90deg) translateY(-100%);

    text-transform: uppercase;
    font-weight: var(--fw-nav);
    font-family: var(--ff-B);

    &__list{
        display: flex;
        flex-direction: row-reverse;
        gap: var(--gap-nav);
    }

    &__item{
        position: relative;
    }

    &__link{
        display: block;

        padding: 0 0 40px 0;

        transition: 0.5s;
        &::after{
            content: attr(data-text);
            font-size: 100px;
            font-weight: 900;
            color: var(--color-G);

            position: absolute;
            right: 50%;
            bottom: 100%;

            transform-origin: bottom right;
            transform: rotate(90deg) translate(200%, calc(50% - 50%*0.25)) scaleY(0.75);
            transition: 0.7s;
        }
        &:hover{
            color: transparent !important;
            &::after{
                transform: rotate(90deg) translate(0, calc(50% - 50%*0.25)) scaleY(0.75);
            }
        }
    }
}

.logo{
    font-size: 60px;
    font-weight: 900;
    font-family: var(--ff-A);
    color: var(--color-A);

    position: fixed;
    top: 40px;
    left: 40px;
    z-index: var(--z-index-H);

    transform: scaleY(0.8);
}

.wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index-G);

    visibility: hidden;
    opacity: 0;
    transition: 0.4s;

    background-color: var(--color-C);

    display: flex;
    align-items: center;
    justify-content: center;


    text-transform: uppercase;

    font-size: 25px;
    font-weight: bolder;
    //font-family: var(--ff-B);
    & .img{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    & .img__time{
        text-align: right;
        font-size: 14px;
        text-transform: lowercase;
    }
    & img{
        max-height: 70vh;
    }
}
