@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body{
    font-family: var(--ff-B);
    color: var(--color-B);
    font-weight: var(--fw-body);
    font-size: var(--fz-body);

    //background-color: #cbd5e0;
}

a{
    color: var(--color-A);
}

.nav{
    position: fixed;
    right: var(--right-nav);
    top: var(--top-nav);
    z-index: var(--z-index-H);

    transform-origin: right top;
    transform: rotate(-90deg) translateY(-100%);

    text-transform: uppercase;
    font-weight: var(--fw-nav);

    &__list{
        display: flex;
        flex-direction: row-reverse;
        gap: var(--gap-nav);
    }

    &__item{
        position: relative;
    }

    &__link{
        display: block;

        transition: 0.5s;
        &::after{
            content: attr(data-text);
            font-size: 100px;
            font-weight: 900;
            color: var(--color-A);

            position: absolute;
            right: 50%;
            bottom: 0;

            transform-origin: bottom right;
            transform: rotate(90deg) translate(200%, calc(50% - 50%*0.25)) scaleY(0.75);
            transition: 0.7s;
        }
        &:hover{
            color: transparent;
            &::after{
                transform: rotate(90deg) translate(0, calc(50% - 50%*0.25)) scaleY(0.75);
            }
        }
    }
}

.logo{
    font-size: 60px;
    font-weight: 900;
    font-family: var(--ff-A);
    color: var(--color-A);

    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 10;

    transform: scaleY(0.8);
}
