#museum{
    background-color: var(--color-J);
    &{
        color: var(--color-C);
    }
    & a{
        color: var(--color-C);
    }
    & .main{
        position: relative;
    }

    & .wrapper{
        background-color: var(--color-J);
    }

    //& .nav__link:not(#index)::after{
    //    @include text3d  (var(--color-A), white, rgba(255, 255, 255, 0.5));
    //}
    //
    //& #index::after{
    //    @include text3d  (var(--color-G), white, rgba(255, 255, 255, 0.5));
    //}

    & .title{
        position: fixed;
        top: 50%;
        left: 0;
        right: 0;
        z-index: var(--z-index-F);

        transform: translateY(-50%);

        font-size: var(--fz-museum-title);
        font-weight: var(--fw-museum-title);
        text-align: center;
        text-transform: uppercase;
    }

    & .art__name{
        text-shadow: 0 2px 2px #dfdfdf,
        -2px 5px 1px #b8b8b8,
        -4px 8px 0px #979797,
        -6px 11px 0px #747474,
        -8px 14px 0px #565656,
        -10px 17px 0px #343434,
        -12px 20px 0px #171717,
        -14px 23px 0px #000;
    }

    & .art__wrapper{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;

        opacity: 0;

        transition: 0.2s;

        visibility: hidden;

        z-index: var(--z-index-A);
    }

    &::-webkit-scrollbar{
        display: none;
    }

    overflow-y: hidden;

    & .container{
        display: flex;
        flex-direction: column;

        & .row{
            height: 50vh;

            display: grid;
            grid-auto-flow: column;
            gap: var(--gap-museum-row);
            align-items: center;

            & .item{
                max-height: 100%;
                width: var(--width-museum-image);
                //overflow-y: hidden;
                outline: 10px solid white;
                transition: 0.3s;
                position: relative;
                z-index: var(--z-index-C);
                & img{
                }
            }
        }
    }
}
