<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" href="{{ asset('css/app.css') }}">-->
    <link rel="stylesheet" href="/resources/css/app.css">

    <title>MUSEUM</title>
</head>
<body id="museum">

<!--<div class="logo">-->
<!--    <span>GIAOGIAO</span>-->
<!--</div>-->

<div class="wrapper">

</div>

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="" data-text="home" class="nav__link" id="index"><span>home</span></a></li>
        <li class="nav__item"><a href="" data-text="project" class="nav__link"><span>project</span></a></li>
        <li class="nav__item"><a href="" data-text="museum" class="nav__link"><span>museum</span></a></li>
        <li class="nav__item"><a href="" data-text="contact" class="nav__link"><span>contact</span></a></li>
    </ul>
</nav>

<nav class="tool">
    <ul class="tool__list">
        <li class="tool__item">
            <i class="fa-solid fa-circle-half-stroke"></i>
        </li>
        <li class="tool__item">
            <i class="fa-solid fa-expand"></i>
        </li>
        <li class="tool__item btn--primary" data-text="random">
            <span>random</span>
        </li>
    </ul>
</nav>

<main class="main">
    <div class="art__wrapper">

    </div>
    <div class="title">
        <div class="art__name">the museum</div>
    </div>

    <div class="container">
        <div class="row">

        </div>
        <div class="row">

        </div>
    </div>

</main>

<script src="https://kit.fontawesome.com/0efe2c26ad.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--<script src="{{ asset('js/app.js') }}"></script>-->
<!--<script src="{{ asset('js/museum.js') }}"></script>-->
<script src="/resources/js/app.js"></script>
<script src="/resources/js/museum.js"></script>

</body>
</html>
