<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/resources/css/app.css">
    <title>Project</title>
</head>
<body id="work">

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link" data-text="home">home</a></li>
        <li class="nav__item"><a id="index" href="" class="nav__link" data-text="work">work</a></li>
        <li class="nav__item"><a href="" class="nav__link" data-text="museum">museum</a></li>
        <li class="nav__item"><a href="" class="nav__link" data-text="contact">contact</a></li>
        <li class="nav__item"><a href="" class="nav__link" data-text="webstore">webstore</a></li>
    </ul>
</nav>

<!--logo-->
<div class="logo">
    <span>GIAOGIAO</span>
</div>


<!--wrapper-->
<div class="wrapper">
    <div class="img">
        <div class="img__name">The Bitch</div>
        <img src="/resources/images/vangoghmuseum-s0049V1962-800.jpg" alt="">
        <div class="img__time">16th, March 2022</div>
    </div>
</div>


<!--tools-->
<!--<nav class="tool">-->
<!--    <ul class="tool__list">-->
<!--        <li class="tool__item"></li>-->
<!--        <li class="tool__item"></li>-->
<!--        <li class="tool__item"></li>-->
<!--    </ul>-->
<!--</nav>-->


<!--timeline-->



<main class="main">
    <div class="intro">

    </div>
    <div class="work__container">
        <div class="work__item">

        </div>
    </div>
</main>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/resources/js/app.js"></script>
</html>
